--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = NOW();

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: machines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.machines (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(6) NOT NULL,
    qr_code text NOT NULL,
    location character varying(255) NOT NULL,
    controller_id character varying(100) NOT NULL,
    status character varying(20) DEFAULT 'offline'::character varying,
    operating_hours_start time without time zone DEFAULT '08:00:00'::time without time zone NOT NULL,
    operating_hours_end time without time zone DEFAULT '18:00:00'::time without time zone NOT NULL,
    maintenance_interval integer DEFAULT 100 NOT NULL,
    current_operating_minutes integer DEFAULT 0 NOT NULL,
    temperature numeric(5,2),
    last_heartbeat timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    price_per_minute numeric(10,2) DEFAULT 1.00 NOT NULL,
    max_duration_minutes integer DEFAULT 30 NOT NULL,
    power_consumption_watts integer DEFAULT 1200 NOT NULL,
    kwh_rate numeric(10,4) DEFAULT 0.65 NOT NULL,
    last_cleaning_date timestamp with time zone,
    last_maintenance_date timestamp with time zone,
    location_owner_quota numeric(5,2) DEFAULT 50.00 NOT NULL,
    maintenance_override boolean DEFAULT false NOT NULL,
    maintenance_override_reason text,
    maintenance_override_at timestamp with time zone,
    maintenance_override_by character varying(255),
    operational_cost_quota numeric(5,2) DEFAULT 10.00,
    city character varying(100),
    CONSTRAINT machines_code_format_check CHECK (((code)::text ~ '^[0-9]{1,6}$'::text)),
    CONSTRAINT machines_kwh_rate_check CHECK ((kwh_rate > (0)::numeric)),
    CONSTRAINT machines_location_owner_quota_check CHECK (((location_owner_quota >= (0)::numeric) AND (location_owner_quota <= (100)::numeric))),
    CONSTRAINT machines_maintenance_interval_check CHECK ((maintenance_interval > 0)),
    CONSTRAINT machines_max_duration_minutes_check CHECK (((max_duration_minutes >= 1) AND (max_duration_minutes <= 120))),
    CONSTRAINT machines_operating_hours_check CHECK ((current_operating_minutes >= 0)),
    CONSTRAINT machines_operational_cost_quota_check CHECK (((operational_cost_quota >= (0)::numeric) AND (operational_cost_quota <= (100)::numeric))),
    CONSTRAINT machines_power_consumption_watts_check CHECK ((power_consumption_watts > 0)),
    CONSTRAINT machines_price_per_minute_check CHECK ((price_per_minute > (0)::numeric)),
    CONSTRAINT machines_status_check CHECK (((status)::text = ANY ((ARRAY['online'::character varying, 'offline'::character varying, 'maintenance'::character varying, 'in_use'::character varying])::text[]))),
    CONSTRAINT machines_temperature_check CHECK (((temperature IS NULL) OR ((temperature >= ('-50'::integer)::numeric) AND (temperature <= (100)::numeric))))
);


ALTER TABLE public.machines OWNER TO postgres;

--
-- Name: COLUMN machines.code; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.code IS 'Machine code: 1-6 digits only (e.g., 123456)';


--
-- Name: COLUMN machines.current_operating_minutes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.current_operating_minutes IS 'Total operating time in minutes';


--
-- Name: COLUMN machines.price_per_minute; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.price_per_minute IS 'Price charged per minute of usage in BRL';


--
-- Name: COLUMN machines.max_duration_minutes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.max_duration_minutes IS 'Maximum allowed usage duration in minutes (1-120)';


--
-- Name: COLUMN machines.power_consumption_watts; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.power_consumption_watts IS 'Power consumption of the machine in watts';


--
-- Name: COLUMN machines.kwh_rate; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.kwh_rate IS 'Cost per kilowatt-hour in BRL';


--
-- Name: COLUMN machines.last_cleaning_date; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.last_cleaning_date IS 'Date of last cleaning maintenance';


--
-- Name: COLUMN machines.last_maintenance_date; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.last_maintenance_date IS 'Date of last maintenance of any type';


--
-- Name: COLUMN machines.location_owner_quota; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.location_owner_quota IS 'Percentage of net revenue allocated to location owner (0-100)';


--
-- Name: COLUMN machines.maintenance_override; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.maintenance_override IS 'When true, machine can operate despite exceeding maintenance interval';


--
-- Name: COLUMN machines.maintenance_override_reason; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.maintenance_override_reason IS 'Reason for overriding maintenance requirement';


--
-- Name: COLUMN machines.maintenance_override_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.maintenance_override_at IS 'Timestamp when override was activated';


--
-- Name: COLUMN machines.maintenance_override_by; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.maintenance_override_by IS 'Admin who activated the override';


--
-- Name: COLUMN machines.operational_cost_quota; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.operational_cost_quota IS 'Percentage (0-100) of revenue allocated to operational costs';


--
-- Name: COLUMN machines.city; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.machines.city IS 'City where the machine is located';


--
-- Name: maintenance_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    machine_id uuid NOT NULL,
    type character varying(50) NOT NULL,
    performed_by uuid,
    description text,
    cost numeric(10,2),
    parts_replaced text[],
    next_maintenance_due timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT maintenance_logs_type_check CHECK (((type)::text = ANY ((ARRAY['cleaning'::character varying, 'repair'::character varying, 'inspection'::character varying, 'part_replacement'::character varying, 'other'::character varying])::text[])))
);


ALTER TABLE public.maintenance_logs OWNER TO postgres;

--
-- Name: TABLE maintenance_logs; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.maintenance_logs IS 'Log of all maintenance activities performed on machines';


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    type character varying(30) NOT NULL,
    machine_id uuid,
    message text NOT NULL,
    whatsapp_status character varying(20) DEFAULT 'pending'::character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT notifications_type_check CHECK (((type)::text = ANY ((ARRAY['maintenance_required'::character varying, 'machine_offline'::character varying, 'system_error'::character varying])::text[]))),
    CONSTRAINT notifications_whatsapp_status_check CHECK (((whatsapp_status)::text = ANY ((ARRAY['pending'::character varying, 'sent'::character varying, 'failed'::character varying])::text[])))
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    type character varying(30) NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_method character varying(20) NOT NULL,
    payment_id character varying(255),
    status character varying(20) DEFAULT 'pending'::character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT transactions_amount_check CHECK ((amount > (0)::numeric)),
    CONSTRAINT transactions_payment_method_check CHECK (((payment_method)::text = ANY ((ARRAY['pix'::character varying, 'admin_credit'::character varying])::text[]))),
    CONSTRAINT transactions_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'completed'::character varying, 'failed'::character varying])::text[]))),
    CONSTRAINT transactions_type_check CHECK (((type)::text = ANY ((ARRAY['credit_added'::character varying, 'usage_payment'::character varying, 'subscription_payment'::character varying])::text[])))
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: usage_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usage_sessions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    machine_id uuid NOT NULL,
    duration integer NOT NULL,
    cost numeric(10,2) NOT NULL,
    payment_method character varying(20) NOT NULL,
    payment_id character varying(255),
    status character varying(20) DEFAULT 'pending'::character varying,
    start_time timestamp with time zone,
    end_time timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT usage_sessions_cost_check CHECK ((cost > (0)::numeric)),
    CONSTRAINT usage_sessions_duration_check CHECK (((duration >= 1) AND (duration <= 30))),
    CONSTRAINT usage_sessions_payment_method_check CHECK (((payment_method)::text = ANY ((ARRAY['balance'::character varying, 'pix'::character varying])::text[]))),
    CONSTRAINT usage_sessions_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'active'::character varying, 'completed'::character varying, 'failed'::character varying])::text[]))),
    CONSTRAINT usage_sessions_time_check CHECK (((start_time IS NULL) OR (end_time IS NULL) OR (end_time > start_time)))
);


ALTER TABLE public.usage_sessions OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    google_id character varying(255),
    password_hash character varying(255),
    account_balance numeric(10,2) DEFAULT 0.00 NOT NULL,
    subscription_status character varying(20) DEFAULT 'none'::character varying,
    subscription_expiry timestamp with time zone,
    last_daily_use date,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    role character varying(20) DEFAULT 'customer'::character varying NOT NULL,
    CONSTRAINT users_auth_check CHECK (((google_id IS NOT NULL) OR (password_hash IS NOT NULL))),
    CONSTRAINT users_balance_check CHECK ((account_balance >= (0)::numeric)),
    CONSTRAINT users_email_check CHECK (((email)::text ~* '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text)),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['customer'::character varying, 'admin'::character varying])::text[]))),
    CONSTRAINT users_subscription_status_check CHECK (((subscription_status)::text = ANY ((ARRAY['none'::character varying, 'active'::character varying, 'expired'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: machines; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: maintenance_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.maintenance_logs (id, machine_id, type, performed_by, description, cost, parts_replaced, next_maintenance_due, created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usage_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: machines machines_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.machines
    ADD CONSTRAINT machines_code_key UNIQUE (code);


--
-- Name: machines machines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.machines
    ADD CONSTRAINT machines_pkey PRIMARY KEY (id);


--
-- Name: maintenance_logs maintenance_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_logs
    ADD CONSTRAINT maintenance_logs_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: usage_sessions usage_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usage_sessions
    ADD CONSTRAINT usage_sessions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_google_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_google_id_key UNIQUE (google_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_machines_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_machines_code ON public.machines USING btree (code);


--
-- Name: idx_machines_controller_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_machines_controller_id ON public.machines USING btree (controller_id);


--
-- Name: idx_machines_maintenance_override; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_machines_maintenance_override ON public.machines USING btree (maintenance_override) WHERE (maintenance_override = true);


--
-- Name: idx_machines_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_machines_status ON public.machines USING btree (status);


--
-- Name: idx_maintenance_logs_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_maintenance_logs_created_at ON public.maintenance_logs USING btree (created_at);


--
-- Name: idx_maintenance_logs_machine_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_maintenance_logs_machine_id ON public.maintenance_logs USING btree (machine_id);


--
-- Name: idx_maintenance_logs_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_maintenance_logs_type ON public.maintenance_logs USING btree (type);


--
-- Name: idx_notifications_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_created_at ON public.notifications USING btree (created_at);


--
-- Name: idx_notifications_machine_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_machine_id ON public.notifications USING btree (machine_id);


--
-- Name: idx_notifications_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_type ON public.notifications USING btree (type);


--
-- Name: idx_transactions_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transactions_created_at ON public.transactions USING btree (created_at);


--
-- Name: idx_transactions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transactions_status ON public.transactions USING btree (status);


--
-- Name: idx_transactions_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transactions_type ON public.transactions USING btree (type);


--
-- Name: idx_transactions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transactions_user_id ON public.transactions USING btree (user_id);


--
-- Name: idx_usage_sessions_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usage_sessions_created_at ON public.usage_sessions USING btree (created_at);


--
-- Name: idx_usage_sessions_machine_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usage_sessions_machine_id ON public.usage_sessions USING btree (machine_id);


--
-- Name: idx_usage_sessions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usage_sessions_status ON public.usage_sessions USING btree (status);


--
-- Name: idx_usage_sessions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usage_sessions_user_id ON public.usage_sessions USING btree (user_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_google_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_google_id ON public.users USING btree (google_id);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: machines update_machines_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_machines_updated_at BEFORE UPDATE ON public.machines FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: maintenance_logs maintenance_logs_machine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_logs
    ADD CONSTRAINT maintenance_logs_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES public.machines(id) ON DELETE CASCADE;


--
-- Name: maintenance_logs maintenance_logs_performed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_logs
    ADD CONSTRAINT maintenance_logs_performed_by_fkey FOREIGN KEY (performed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: notifications notifications_machine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES public.machines(id) ON DELETE SET NULL;


--
-- Name: transactions transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: usage_sessions usage_sessions_machine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usage_sessions
    ADD CONSTRAINT usage_sessions_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES public.machines(id) ON DELETE CASCADE;


--
-- Name: usage_sessions usage_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usage_sessions
    ADD CONSTRAINT usage_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

